/.bundle/
/vendor/bundle/
/steep/.bundle/
/steep/vendor/bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
**/.ruby-version
**/.rvmrc
**/.rbfu-version
**/.rbenv-version
**/.versions.conf
/vendor/sigs

lib/**/*.bundle
lib/**/*.so
lib/**/*.dll
doc/

ext/rbs_extension/class_constants.h
ext/rbs_extension/class_constants.c
ext/rbs_extension/ast_translation.h
ext/rbs_extension/ast_translation.c
include/rbs/ast.h
src/ast.c

**/*.gem
